[webservers]

web-1   ansible_host=158.160.102.199 

web-2   ansible_host=158.160.120.150 

[databases]

main   ansible_host=51.250.93.100 

replica   ansible_host=158.160.58.114 

[storage]

storage   ansible_host=158.160.122.78 
